.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.title {
  margin: 0 auto;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart {
  height: 40vh;
}
